<strong>Hello, {{ provider }}</strong>
<p>There was an schedule cancelament. Check out the details:</p>
<p>
  <strong>Client: </strong> {{ user }} <br/>
  <strong>Date/Hour: </strong> {{ date }}<br/>
  <br />
  <small>
    The hour is once again free to new appointments
  </small>
</p>
